// Fonts
$default-font: "Rubik", sans-serif;
$xlong-font-size: 4rem;
$long-font-size: 2.2rem;
$medium-font-size: 1.5rem;
$normal-font-size: 1.2rem;

// Breakpoints
$mobile-breakpoint: 512px;
$tablet-breakpoint: 1024px;

// Colors
$react-color: #61dafb;
$js-color: #f7e018;
$angular-color: #dd0031;
$vue-color: #42b983;
$svelte-color: #ff3e00;

$main-color: $react-color;
$background-color: #282c34;
$light-background-color: #404249;
$text-color: #fff;
