.section{

  .section-title{
    align-items: center;
    display: flex;
    font-size: $medium-font-size;
    margin-left: 10px;

    &::before{
      content: "·";
      margin-right: 15px;
      color: $main-color;
    }

    &::after{
      background-color: $main-color;
      content: "";
      display: block;
      height: 1px;
      margin: 0 15px;
      width: 100%;
    }
  }

  .section-text {
    font-size: $normal-font-size;
    margin: 50px 10px;
  }
}