.section {

  margin-bottom: 200px;

  &.align {
    max-width: 900px;
  }

  &.align.align-right {
    margin-left: auto;
  }

  &.align.align-left {
    margin-right: auto;
  }

  .section-title {
    align-items: center;
    display: flex;
    font-size: $medium-font-size;
    font-weight: 400;
    margin-left: 10px;

    &.boy-emoji::before {
      content: "👦";
      margin-right: 15px;
    }

    &.blog-emoji::before{
      content: "⌨️";
      margin-right: 15px;
    }

    &::after {
      background-color: $main-color;
      content: "";
      display: block;
      height: 1px;
      margin: 0 15px;
      width: 100%;
    }
  }

  .section-info {
    font-weight: 300;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "text icon";
    margin: 20px 10px;

    .icon {
      border-radius: 5px;
      grid-area: icon;
      max-width: 90%;
      opacity: 0.75;
      transition: opacity 0.8s;
      width: 400px;

      &:hover {
        opacity: 1;
      }
    }

    .section-text {
      grid-area: text;
      font-size: $normal-font-size;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .section {

    &.align {
      max-width: 100%;
    }

    .section-info {
      justify-content: center;
      grid-template-areas:
        "icon"
        "text";
      margin: auto;
      max-width: 600px;
      padding: 15px;

      .icon {
        justify-self: center;
        max-width: 70%;
      }

      .section-text {
        margin: 0;
      }
    }
  }
}
