<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <a href="#" class="brand"> 9gu</a>
        <ul class="menu">
          <li class="option">
            <a href="#about" class="link">About</a>
          </li>
          <li class="option">
            <a href="#" class="link">Blog</a>
          </li>
          <li class="option">
            <a href="#" class="link">Contact</a>
          </li>
        </ul>
        <div class="header-main">
          <h1 class="title">Hi, I'm <span class="name">Agus</span>! 👋</h1>
        </div>
      </header>
      <section class="section" id="about">
        <h3 class="section-title boy-emoji">About</h3>
        <div class="section-info">
          <img src="./img/icon.jpg" class="icon" />
          <p class="section-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
            a deleniti quae odit beatae ex labore eius hic quis repudiandae quam
            quos, voluptate earum soluta ducimus, ad modi nostrum temporibus!
          </p>
        </div>
      </section>
      <footer></footer>
    </div>

    <script src="./index.ts"></script>
  </body>
</html>
